@import 'libs/bootstrap-reboot.min';




$maxWidth: 599;
@mixin adaptiv-line-hight($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    line-height: calc(#{$mobSize + px} + 4px + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0D0D2B;
}

.button {
    padding: 16px 32px;
    background: #3671e9;
    border-radius: 32px;
    color: #fff;
    transition: .2s background-color;
    border: 1px solid #3671e9;
    &:hover {
        border: 1px solid #3671E9;
        background-color: #0D0D2B;
    }
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/intro';
@import 'blocks/whyCrappo';
@import 'blocks/trade';
@import 'blocks/features';
@import 'blocks/mining';
@import 'blocks/footer';
@import 'blocks/modals';

@import 'animations/headerAnim';
@import 'animations/allAnim';

.displaynone {
    display: none !important;
}

.displayblock {
    display: block;
}

.displayflex {
    display: flex;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1200px) {
        width: 90%;
    }
    @media (max-width: 899px) {
        width: 90%;
    }
}

a {
    color: #fff;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

button {
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}




