@import 'libs/bootstrap-reboot.min';







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0D0D2B;
}

.displaynone {
    display: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1200px) {
        width: 90%;
    }
    @media (max-width: 899px) {
        width: 90%;
    }
}

button {
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/intro';
@import 'blocks/whyCrappo';
@import 'blocks/trade';

@import 'animations/headerAnim';






$maxWidth: 1200px;

@mixin adaptiveFont($maxSize, $minSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptiveLineHeight($maxSize, $minSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}