.opacityIn {
    animation: opacityIn .5s forwards;
}

.opacityOut {
    animation: opacityOut .5s forwards;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.anim {
    opacity: 0;
}



.anim2 {
    animation-delay: .2s;
    @media (max-width: 599px) {
        animation-delay: 0s;
    }
}

.anim3 {
    animation-delay: .4s;
    @media (max-width: 599px) {
        animation-delay: 0s;
    }
}