.opacityIn {
    animation: opacityIn .5s forwards;
}

.opacityOut {
    animation: opacityOut .5s forwards;
}

@keyframes opacityIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacityOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}