.features {
    padding: 100px;
    background: #2B076E;
    @media (max-width: 1200px) {
        padding: 70px 0;
    }
    @media (max-width: 599px) {
        padding: 35px 0;
    }
    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
    &__item-wrapper {
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
        align-items: center;
        &:nth-of-type(2) {
            margin-top: 250px;
            margin-left: -89px;
        }
        &:nth-of-type(3) {
            margin-top: 120px;
        }
    }
    &__item-text {
        width: 454px;
    }
    &__item-title {
        font-weight: bold;
        font-size: 32px;
        line-height: 150%;
        color: #FFFFFF;
    }
    &__item-descr {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #E0E0E0;
        margin-top: 24px;
        width: 408px;
    }
    &__item-button {
        margin-top: 32px;
    }
    &__item-illus {
        position: relative;
        &-bg {
            width: 610px;
            height: 334px;
            background: #35068C;
            border-radius: 16px;
            padding: 40px;
            position: relative;
            img {
                position: absolute;
                left: -150px;
            }
            &_first {
                width: 580px;
                height: 298px;
                img {
                    position: absolute;
                    left: 40px;
                }
            }
        }
    }
    &__item-sell {
        padding: 24px 16px;
        background: #491F98;
        border-radius: 16px;
        width: 178px;
        height: 184px;
        position: absolute;
        bottom: -120px;
        left: 64px;
        &-title {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
        }
        &-percent {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            margin-top: 16px;
            color: #FFFFFF;
        }
        &-subtitle {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            margin-top: 16px;
            color: #F2F2F2;
        }
    }
    &__item-cost {
        width: 169px;
        height: 84px;
        padding: 15px 32px;
        background: #491F98;
        border-radius: 16px;
        position: absolute;
        right: 56px;
        bottom: -42px;
        box-shadow: 15px 20px 40px rgba(116, 117, 218, 0.15);
        &-cost {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            color: #FFFFFF;
        }
        &-subtitle {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            margin-top: 4px;
            color: #F2F2F2;
        }
    }
    
}