.trade {
    padding-top: 100px;
    @media (max-width: 1200px) {
        padding-top: 70px;
    }
    @media (max-width: 599px) {
        padding-top: 35px 0;
    }
    &__title {
        font-weight: bold;
        font-size: 40px;
        line-height: 150%;
        text-align: center;
        @media (max-width: 899px) {
            font-size: 34px;
        }
    }
    &__subtitle {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #E0E0E0;
        text-align: center;
        margin-top: 24px;
        @media (max-width: 899px) {
            font-size: 12px;
            line-height: 23px;
        }
    }
    &__check {
        padding-bottom: 219px;
    }
    &__currencies {
        background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
        width: 100%;
        padding-top: 316px;
        padding-bottom: 100px;
        position: relative;
        @media (max-width: 599px) {
            padding: 35px 0;
        }
    }
    &__calc {
        position: absolute;
        left: 50%;
        top: -475px;
        width: 942px;
        min-height: 371px;
        transform: translateX(-50%);
        background: #FBFCFE;
        box-shadow: 0px 20px 200px rgba(57, 23, 119, 0.05);
        border-radius: 16px;
        padding: 48px;
        @media (max-width: 1200px) {
            width: 800px;
        }
        @media (max-width: 899px) {
            width: 540px;
        }
        @media (max-width: 599px) {
            width: 100%;
            top: -213px;
        }
    }
    &__hashrate {
        border: none;
        border-bottom: 1px solid #E0E0E0;
        background-color: inherit;
        width: 403px;
        max-width: 403px;
        color: #000;
        outline: none;
        padding: 7px 0;
        @media (max-width: 899px) {
            width: 45%;
        }
        @media (max-width: 599px) {
            width: 100%;
            margin-bottom: 20px;
        }
        &::placeholder {
            color: #000;
        }
    }
    &__inputs {
        display: flex;
        justify-content: space-between;
        @media (max-width: 599px) {
            flex-direction: column;
        }
    }
    &__th {
        @media (max-width: 899px) {
            width: 15%;
        }
        @media (max-width: 599px) {
            width: 40%;
            margin-bottom: 20px;
        }
        border: none;
        position: relative;
        border-bottom: 1px solid #E0E0E0;
        background-color: inherit;
        padding: 7px 0;
        color: #000;
        outline: none;
        width: 120px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        &::placeholder {
            color: #000;
        }
    }
    &__hr {
        color: #000;
    }
    &__dropdown {
        position: absolute;
        max-height: 220px;
        bottom: -216px;
        width: 100%;
        border: 1px solid #E0E0E0;
        padding: 5px;
        text-align: center;
        z-index: 700;
        background-color: #fff;
        &-item {
            color: #000;
            width: 100%;
            font-size: 16px;
            padding: 5px 0;
            &:hover {
                background-color: #E0E0E0;
            }
        }
    }
    &__calculate {
        padding: 16px 32px;
        border: 1px solid #3671E9;
        background: #3671E9;
        border-radius: 32px;
        transition: .2s;
        outline: none;
        &:hover {
            border: 1px solid #3671E9;
            background-color: #0D0D2B;
        }
    }
    &__estimated {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #3671E9;
        margin-top: 100px;
        @media (max-width: 599px) {
            margin-top: 60px;
        }
    }
    &__eth {
        font-size: 32px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #0D0D2B;
        font-weight: bold;
        margin-top: 16px;
        @media (max-width: 599px) {
            font-size: 20px;
        }
        span {
            color: #3671E9;
        }
        &TXT {
            color: #0D0D2B !important;
        }
    }
    &__revenue {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #828282;
        margin-top: 4px;
        @media (max-width: 599px) {
            font-size: 12px;
            line-height: 20px;
        }
    }
    .coins {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: 599px) {
            margin-top: 40px;
        }
        @media (max-width: 1200px) {
            justify-content: space-around;
        }
        @media (max-width: 899px) {
            flex-direction: column;
            align-items:center;
        }
        &__item {
            text-align: center;
            padding: 48px 24px;
            min-height: 433px;
            background: #FFFFFF;
            width: 370px;
            border-radius: 16px;
            transition: .3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @media (max-width: 1200px) {
                &:nth-of-type(3) {
                    margin: 80px auto 0 auto;
                    @media (max-width: 1200px) {
                        margin-top: 40px;
                    }
                    @media (max-width: 899px) {
                        margin-top: 0;
                    }
                }
            }
            @media (max-width: 899px) {
                margin-bottom: 30px;
            }
            @media (max-width: 599px) {
                width: 100%;
                height: 461px;
            }
            &:hover {
                background: #2B076E;
                .coins__title {
                    color: #FFFFFF;
                }
                .coins__subtitle {
                    color: #FFFFFF;
                }
                .coins__button {
                    background-color: #fff;
                    border: 1px solid #fff;
                    width: 24px;
                    height: 24px;
                    margin-top: 45px;
                    margin-left: 157px;
                    
                }
                .coins__hover-button {
                    opacity: 1;
                    cursor: pointer;
                    background: #3671E9;
                    border: 1px solid #3671E9;
                }
            }
        }
        &__logo {
            height: 80px;
            width: 80px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                z-index: 500;
            }
        }
        .btc__bg{
            background-color: rgba(249, 170, 75, 1);
        }
        .eth__bg {
            background-color: #1181E8;
        }
        .ltc__bg {
            background-color: #fff;
        }
        &__title {
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            margin-top: 48px;
            color: #0D0D2B;
            display: flex;
            align-items: center;
            transition: .3s;
            span {
                margin-left: 8px;
                font-weight: 500;
                font-size: 18px;
                line-height: 48px;
                text-align: center;
                color: #BDBDBD;
                opacity: 0.7;
                display: block;
            }
        }
        &__subtitle {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #828282;
            margin-top: 16px;
            transition: .3s;
            @media (max-width: 599px) {
                height: 84px;
            }
        }
        &__button {
            margin-top: 25px;
            width: 64px;
            height: 64px;
            border: 1px solid rgba(43, 7, 110, 0.2);
            border-radius: 100%;
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 100;
            cursor: pointer;
            svg {
                display: block;
            }
        }
        &__hover-button {
            width: 205px;
            height: 64px;
            background-color: #fff;
            border-radius: 32px;
            border: 1px solid #fff;
            position: absolute;
            bottom: 48px;
            cursor: inherit;
            transition: .3s;
            text-align: left;
            padding: 0 25px;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
        }
    }
    .bluecolor {
        color: #0D0D2B;
        @media (max-width: 599px) {
            padding-top: 370px;
            font-size: 22px;
            line-height: 27px;
        }
    }
}